@model RecipeViewModel

<div class="card bg-light mb-3" style="max-width: 18rem;">
	<img class="card-img-top" src='@Url.Action("GetRecipeImageFile", "Recipe", new { recipeId = Model.Id })' width="400" />
	<div class="card-body">
		<h5 class="card-title">@Model.Name</h5>
		<div class="btn-group btn-group-sm" role="group" aria-label="Recipe actions">
			<a class="btn btn-light" asp-action="Edit" asp-controller="Recipe" asp-route-id="@Model.Id"><img src="~/images/edit.png" /></a>
			<a id="delete"
			   class="btn btn-light"
			   asp-action="Delete" asp-controller="Recipe" asp-route-id="@Model.Id"
			   onclick="return confirm('This item will be permanently deleted. Are you sure?')">
				<img src="~/images/delete.png" />
			</a>
		</div>
	</div>
</div>