@model RecipeViewModel
@{
	ViewData["Title"] = "New Recipe";
}

<form asp-action="Create" asp-controller="Recipe" enctype="multipart/form-data">
	<div class="float-right">
		<button type="submit" class="btn btn-success">Save</button>
	</div>

	<div class="form-group">
		<label asp-for="Image" class="control-label"></label>
		<input id="imageFile" type="file" asp-for="Image" />
	</div>
	<div class="form-group">
		<label asp-for="Name"></label>
		<input class="form-control" asp-for="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="CategoryId"></label>
		<select class="form-control" asp-for="CategoryId" asp-items="Model.Categories"></select>
	</div>
	<div class="form-group">
		<label asp-for="Description"></label>
		<textarea class="form-control" asp-for="Description"></textarea>
		<span asp-validation-for="Description"></span>
	</div>
	<div class="form-group">
		<label asp-for="Note"></label>
		<textarea class="form-control" asp-for="Note"></textarea>
		<span asp-validation-for="Note"></span>
	</div>
	<div class="container">
		<div id="addIngredientPartial">
		</div>
	</div>

	<div class="float-right">
		<button type="button" id="addIngredient" class="btn btn-light">Add Ingredient</button>
	</div>
</form>

@section Scripts
{
	<script>
		$(document).on('click', '#addIngredient', function (e) {
			$.ajax({
				url: '/Recipe/AddIngredient',
				success: function (partialView) {
					$('#addIngredientPartial').append(partialView);
				}
			});
		});

		$(document).on("click", "#deleteButton", function () {
			$(this).parent().parent().remove();
		});
	</script>
}