@model RecipesIndexViewModel

@{
	ViewData["Title"] = "Recipes";
	int counter = 0;
}

<ul class="nav navbar">
	<li class="nav-item">
		<a class="btn btn-primary" role="button" asp-area="" asp-controller="Recipe" asp-action="Create">Create</a>
	</li>
</ul>

<div class="container">
	<div class="row justify-content-end">
		<form class="form-inline" asp-action="Index" asp-controller="Recipe">
			<div class="form-group">
				<input class="form-control m-sm-2" asp-for="SearchText" />
				<select class="form-control m-sm-2" asp-items="Model.Categories" asp-for="CategoryName"></select>
				@*<select asp-items="Model.Ingredients" asp-for="IngredientName"></select>*@
			</div>
			<button type="submit" class="btn btn-info m-sm-2">Filter</button>
		</form>
	</div>

	<div class="row">
		@foreach (var recipe in Model.Recipes)
		{
			if (counter != 0 && counter % 3 == 0)
			{
			@:</div>
			@:<div class="row">
			}

			<div class="col-md-4">
				@await Html.PartialAsync("_RecipeCard", recipe) 
			</div>

			counter++;
		}
	</div>
</div>
